*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
static/assets/style.css linguist-vendored=false
static/assets/project.css linguist-vendored=false
static/assets/js/index.js linguist-vendored=false
static/assets/js/cookie.js linguist-vendored=false