#title {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#boxgroup {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#padder {
    padding: 0.5%;
}

.abox {
    background-color: #636363;
    box-sizing: border-box;
    border-radius: 10px;
    width: 350px;
    margin: 10px;
    word-wrap: break-word;
}

.abox h1 {
    margin-top: 1%;
    margin-left: 3%;
    color: #D4D4D4;
}

.abox h2 {
    font-size: 150%;
    margin-left: 3%;
    color: #B4B4B4;
}

.abox a {
    font-size: 90%;
    text-decoration: none;
    color: #A4DE02;
    margin: 10px;
}

.abox {
    transition: .8s ease;
}

.abox:hover {
    -webkit-box-shadow:0px 0px 47px 0px rgba(45,255,196,0.68);
    -moz-box-shadow: 0px 0px 47px 0px rgba(45,255,196,0.68);
    box-shadow: 0px 0px 47px 0px rgba(45,255,196,0.68);
    transition: .8s ease;
}

.abox #img {
    border-radius: 5px;
    height: 100px;
}

.abox a:visited {
    color: #A4DE02;
}

.abox a:hover {
    color: #76BA1B;
}