#pubkeys {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#pubkey {
    background: #444444;
    box-sizing: border-box;
    width: 400px;
    padding: 0.5%;
    border-radius: 10px;
}

#pubkey h1 {
    color: whitesmoke;
    text-align: center;
}

#pubkey i {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 500%;
    margin-top: 10%;
    margin-bottom: 5%;
}

#pubkey p {
    color: white;
    margin: 0;
    text-align: center;
}

#pubkey button {
    display: flex;
    flex-wrap: wrap;
    background: white;
    margin-left: 37%;
}